.menuPageSection {
  padding: 6rem 0 7rem 0;
}

.menuPageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.textSection {
  font-display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.title {
  font-family: var(--font-heading);
  font-size: var(--font-size-display-title);
  color: var(--color-accent-500);
  font-weight: 600;
}

.subtitle {
  font-family: var(--font-heading);
  font-size: var(--font-size-display-subtitle);
  margin-top: -2rem;
}
